---
import brand1 from "../assets/brand_logo_03_1.png";
import brand2 from "../assets/brand_logo_05_1.png";
import brand3 from "../assets/brand_logo_06_1.png";
import brand4 from "../assets/brand_logo_08_1.png";
---

<div class="section section-inner m-partners">
  <div class="container mx-auto">
    <div class="row">
      <div class="w-full">
        <!-- partners -->
        <div class="partners-box">
          <div class="partners-items row">
            <div
              class="partners-col w-full sm:w-1/2 md:w-1/4 scrolla-element-anim-1 scroll-animate"
              data-animate="active"
            >
              <div class="partners-item">
                <div class="image">
                  <a target="_blank" href="">
                    <img src={brand1.src} alt="Brand 1" />
                  </a>
                </div>
              </div>
            </div>
            <div
              class="partners-col w-full sm:w-1/2 md:w-1/4 scrolla-element-anim-1 scroll-animate"
              data-animate="active"
            >
              <div class="partners-item">
                <div class="image">
                  <a target="_blank" href="">
                    <img src={brand2.src} alt="Brand 2" />
                  </a>
                </div>
              </div>
            </div>
            <div
              class="partners-col w-full sm:w-1/2 md:w-1/4 scrolla-element-anim-1 scroll-animate"
              data-animate="active"
            >
              <div class="partners-item">
                <div class="image">
                  <a target="_blank" href="">
                    <img src={brand3.src} alt="Brand 3" />
                  </a>
                </div>
              </div>
            </div>
            <div
              class="partners-col w-full sm:w-1/2 md:w-1/4 scrolla-element-anim-1 scroll-animate"
              data-animate="active"
            >
              <div class="partners-item">
                <div class="image">
                  <a target="_blank" href="">
                    <img src={brand4.src} alt="Brand 4" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
