---
---

<div
  class="section section-inner section-description scrolla-element-anim-1 scroll-animate"
  data-animate="active"
>
  <div class="container mx-auto">
    <div class="row flex flex-wrap">
      <div class="w-full px-2">
        <h1>We are startup digital agency</h1>
      </div>
      <div class="w-full lg:w-1/2 px-2">
        A Los Angeles based studio building handcrafted websites and brands for
        companies and all over the world. It is not enough that we build
        products that function, that are understandable and usable, we also need
        to build products that bring joy and excitement, pleasure and fun, and,
        yes, beauty to people’s lives. Creativity is to discover a question that
        has never been asked. If one brings up an idiosyncratic questionl.
      </div>
      <div class="w-full lg:w-1/2 px-2">
        The development of digital marketing is inseparable from technology
        development. One of the first key events happened in 1971, when Ray
        Tomlinson sent the first email, and his technology set the platform to
        allow people to send and receive files through different machines.
        However, the more recognizable period as being the start of Digital
        Marketing is 1990 as this was where the Archie search engine was created
        as an index for FTP sites.
      </div>
    </div>
  </div>
</div>
