---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="section section-inner started-heading">
  <div class="container mx-auto">
    <div class="row">
      <div class="w-full">
        <div class="h-titles">
          <div
            class="h-title splitting-text-anim-2 animate__active"
            data-splitting="chars"
          >
            {title}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
