---
import logo from "../assets/logo.png";
---

<div class="preloader">
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="spinner-logo">
        <img src={logo.src} alt="logo" />
        <div class="spinner-dot"></div>
        <div class="spinner spinner-line"></div>
      </div>
    </div>
  </div>
</div>

<script>
  import imagesLoaded from "ImagesLoaded";

  window.addEventListener("load", () => {
    const body = document.querySelectorAll("body");
    imagesLoaded(body, {}, function (instance) {
      const preload = document.querySelector(".preloader");
      preload.classList.add("loaded");
      fadeOut(preload.querySelector(".centrize"), 300);
    });

    function fadeOut(elem, ms) {
      if (!elem) return;

      if (ms) {
        var opacity = 1;
        var timer = setInterval(function () {
          opacity -= 50 / ms;
          if (opacity <= 0) {
            clearInterval(timer);
            opacity = 0;
            elem.style.display = "none";
            elem.style.visibility = "hidden";
          }
          elem.style.opacity = opacity;
          elem.style.filter = "alpha(opacity=" + opacity * 100 + ")";
        }, 50);
      } else {
        elem.style.opacity = 0;
        elem.style.filter = "alpha(opacity=0)";
        elem.style.display = "none";
        elem.style.visibility = "hidden";
      }
    }
  });
</script>

<style>
  /* - Preloader */

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    text-align: center;
    z-index: 1000;
  }

  .preloader .centrize {
    height: 100vh;
  }

  .preloader::before {
    content: "";
    position: absolute;
    left: -10vw;
    top: -20vh;
    width: 120vw;
    height: 120vh;
    background: #01010b;
  }

  .preloader .spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #eb6165;
    border-radius: 15px;
    -webkit-animation: spinner 0.75s cubic-bezier(0.17, 0.37, 0.43, 0.67)
      infinite;
    animation: spinner 0.75s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }

  .preloader .spinner-logo {
    position: relative;
    margin: 0 auto;
    width: 120px;
    font-size: 0;
  }

  .preloader .spinner-logo img {
    padding-bottom: 30px;
    max-width: 100%;
  }

  .preloader .spinner.spinner-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #eb6165;
    border-radius: 0;
    -webkit-animation: spinnerline 1s cubic-bezier(0.17, 0.37, 0.43, 0.67)
      infinite;
    animation: spinnerline 1s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
  }

  .preloader .spinner-dot {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0;
  }

  .preloader.loaded::before {
    -webkit-animation: preloader 0.75s cubic-bezier(0.3, 0, 0.3, 1) forwards;
    animation: preloader 0.75s cubic-bezier(0.3, 0, 0.3, 1) forwards;
  }

  @-webkit-keyframes preloader {
    0% {
      -webkit-transform: translate3d(0, 0, 0) skew(-10deg, -10deg);
      transform: translate3d(0, 0, 0) skew(-10deg, -10deg);
    }
    100% {
      -webkit-transform: translate3d(0, -100%, 0) skew(0deg);
      transform: translate3d(0, -100%, 0) skew(0deg);
    }
  }

  @keyframes preloader {
    0% {
      -webkit-transform: translate3d(0, 0, 0) skew(-10deg, -10deg);
      transform: translate3d(0, 0, 0) skew(-10deg, -10deg);
    }
    100% {
      -webkit-transform: translate3d(0, -100%, 0) skew(0deg);
      transform: translate3d(0, -100%, 0) skew(0deg);
    }
  }

  @-webkit-keyframes spinner {
    0% {
      width: 15px;
    }
    50% {
      width: 50px;
    }
    100% {
      width: 15px;
    }
  }

  @keyframes spinner {
    0% {
      width: 15px;
    }
    50% {
      width: 50px;
    }
    100% {
      width: 15px;
    }
  }

  @-webkit-keyframes spinnerline {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    50% {
      width: 100%;
      left: 0;
      right: auto;
    }
    51% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }

  @keyframes spinnerline {
    0% {
      width: 0;
      left: 0;
      right: auto;
    }
    50% {
      width: 100%;
      left: 0;
      right: auto;
    }
    51% {
      width: 100%;
      left: auto;
      right: 0;
    }
    100% {
      width: 0;
      left: auto;
      right: 0;
    }
  }
</style>
