---
import team1 from "../assets/team1.jpg";
import team2 from "../assets/team2.jpg";
import team3 from "../assets/team3.jpg";
---

<div class="section section-inner m-team">
  <div class="container mx-auto">
    <div class="row">
      <div class="w-full align-left">
        <div class="m-titles">
          <h2
            class="m-title scrolla-element-anim-1 scroll-animate"
            data-animate="active"
          >
            Meet the team
          </h2>
        </div>
      </div>
      <div class="w-full">
        <div class="team-items row">
          <div class="team-col w-full md:w-1/2 lg:w-1/3">
            <div
              class="team-item scrolla-element-anim-1 scroll-animate"
              data-animate="active"
            >
              <div class="image">
                <div class="img">
                  <img src={team3.src} alt="Natasha Singh" />
                </div>
              </div>
              <div class="desc">
                <div class="category">Natasha Singh</div>
                <div class="name">Founder</div>
              </div>
            </div>
          </div>
          <div class="team-col w-full md:w-1/2 lg:w-1/3">
            <div
              class="team-item scrolla-element-anim-1 scroll-animate"
              data-animate="active"
            >
              <div class="image">
                <div class="img">
                  <img src={team1.src} alt="Natasha Singh" />
                </div>
              </div>
              <div class="desc">
                <div class="category">Natasha Singh</div>
                <div class="name">Founder</div>
              </div>
            </div>
          </div>
          <div class="team-col w-full md:w-1/2 lg:w-1/3">
            <div
              class="team-item scrolla-element-anim-1 scroll-animate"
              data-animate="active"
            >
              <div class="image">
                <div class="img">
                  <img src={team2.src} alt="Natasha Singh" />
                </div>
              </div>
              <div class="desc">
                <div class="category">Natasha Singh</div>
                <div class="name">Founder</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
