---
import Cursor from "../components/Cursor.astro";
import Preloader from "../components/Preloader.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/base.css";

export interface Props {
  title: string;
  type?: string;
}

const { title, type } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="page">
    <Cursor />
    <div class="container-page">
      <Preloader />
      <Header />
      <div
        class:list={["wrapper", { "single-post": type == "blog" || "page" }]}
        id="content"
      >
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>

<script>
  import ScrollReveal from "scrollreveal";
  import Splitting from "splitting";
  import { jarallax } from "jarallax";

  const sr = ScrollReveal({
    origin: "bottom",
    distance: "20px",
    duration: 1500,
    beforeReveal: function (el) {
      el.classList.add("animate__active");
    },
  });

  jarallax(document.querySelectorAll(".js-parallax"), {
    speed: 0.65,
    type: "scroll",
  });

  Splitting();

  sr.reveal(`.scroll-animate`);
</script>
